/********************** GLOBAL *****************************/
/********************** GLOBAL *****************************/
/********************** GLOBAL *****************************/


[v-cloak] {
  display: none;
}

[v-cloak].v-cloak-hide {
  display: block;
}

.v-cloak-hide {
  display: none;
}



body {
  text-rendering: optimizeLegibility;
  font-family: "Open Sans","Helvetica Neue","Arial", sans-serif;
  color:#191C20;;
  font-size:14px;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 2500px;
  margin:0px;
  padding:0px;

  background-color:#eee;

}

.controls-container {
  transition: all 0.5s ease;
  height: 35px;
overflow: hidden;
}

.controls-container.controls-open {
  height: 251px;
}

.category-button {
  color: white;
  width: 33.33%;
  height: 16px;
  display: inline-block;
  text-align: center;
  padding: 35px 0px;
}

.category-button:hover{
  /*filter: brightness(80%);*/
}

.category-button.selected  {
  box-shadow:0px 0px 0px 2px white inset;
}

.input-container {
  background-color:white;
}

.list-container {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.x-button {
  float: right;
  padding-right: 20px;
  padding-top: 13px;
  padding-left: 6px;
  padding-bottom: 3px;
}

.check-icon {
  padding: 9px 6px 7px 10px;
     width: 26px;
     display: inline-block;
     padding-right: 10px;

}

.todo-input {
  text-align: center;
  width:100%;
  padding:7px 0px;
  font-size:18px;
  border:0px solid white;
}

ul.todo-list {
  margin:0px;
  padding:0px;
}
.fa {
  vertical-align: middle;
}

.todo-list li {
  list-style-type: none;

  font-size: 18px;
  padding-left:10px
}

.todo-list li:first-child {

}

.todo-list li:nth-child(even) {
  background-color:white;
}

.todo-list li.checked {
  filter: opacity(40%);
}

.todo-list li.checked .item-name {
  text-decoration: line-through;
}


.fa-times-circle {

  padding-left:8px;
  vertical-align: baseline;

}
.submit-button {
  width:100%;
  padding:0px;
  box-sizing: border-box;
  font-weight: bold;
  font-size:18px;
  color:white;

  text-align: center;
  background-color:gray;

  /*transition: all 0.2s ease;*/
}

.clear-button {
  padding:10px;
}


.button-text {
  padding-top:10px;
  padding-bottom:10px;
}




.submit-button.active {
  background-color:black;
}

.submit-button.fadeItOut,
.submit-button.fadeItOut.active  {
  background-color:red;
  /*transition: all 1.0s ease;*/
}

.submit-button.red-background {
  background-color: red;
}


.group-header {
  color:white;
  font-weight: 600;
  padding:5px;
  font-size: 14px;

}

.color-changing {
  transition: all 1.0s ease;
}

.no-items-message {
  text-align: center;
  padding:10px;
}

.add-and-stay-container,
.clear-input-container {
  position: relative;
}

.clear-input {
  position: absolute;
  right:0px;
  padding:6px 10px 12px 18px;
  /*background-color: red;*/
  /*height:50px;*/

}

.add-and-stay {
  position: absolute;
  /* float: right; */
  color: white;
  font-size: 27px;
  right: 0px;
  z-index: 53412;
  padding: -0px 10px 7px 13px;
}

@media (min-width: 600px) {
  #todo {
    width:450px;
    margin:auto;
  }
}
