/********************** GLOBAL *****************************/
/********************** GLOBAL *****************************/
/********************** GLOBAL *****************************/





body {
  text-rendering: optimizeLegibility;
  font-family: "Open Sans","Helvetica Neue","Arial", sans-serif;
  color:#191C20;;
  font-size:14px;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 2500px;
  margin:0px;
  padding:0px;

  background-color:#eee;

}

.category-button {
  color: white;
  width: 33.33%;
  height: 15px;
  display: inline-block;
  text-align: center;
  padding: 20px 0px;
}

.category-button:hover,
.category-button.selected  {
  filter: brightness(80%);
}

.input-container {
  background-color:white;
}

.list-container {
  padding:10px;
}

.check-icon {
  width: 23px;
  display: inline-block;
  padding-right: 10px;
}

.todo-input {
  text-align: center;
  width:100%;
  padding:7px 0px;
  font-size:18px;
  border:0px solid white;
}

ul.todo-list {
  margin:0px;
  padding:0px;
}
.fa {
  vertical-align: middle;
}

.todo-list li {
  list-style-type: none;
  margin-bottom:5px;
  font-size: 16px;
}

.todo-list li.checked {
  filter: opacity(40%);
}

.todo-list li.checked .item-name {
  text-decoration: line-through;
}

.submit-button {
  width:100%;
  padding:10px 0px;
  font-weight: bold;
  font-size:18px;
  color:white;
  background-color:black;
  text-align: center;
}


@media (min-width: 600px) {
  #todo {
    width:450px;
    margin:auto;
  }
}
